@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 12 0% 100%;
    --foreground: 12 0% 10%;
    --card: 12 0% 100%;
    --card-foreground: 12 0% 15%;
    --popover: 12 0% 100%;
    --popover-foreground: 12 95% 10%;
    --primary: 12 100% 64.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 12 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -26 10% 95%;
    --muted-foreground: 12 0% 40%;
    --accent: -26 10% 90%;
    --accent-foreground: 12 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 12 0% 100%;
    --border: 12 20% 82%;
    --input: 12 20% 50%;
    --ring: 12 100% 64.5%;
    --radius: 1rem;
  }
  .dark {
    --background: 12 10% 10%;
    --foreground: 12 0% 100%;
    --card: 12 0% 10%;
    --card-foreground: 12 0% 100%;
    --popover: 12 10% 5%;
    --popover-foreground: 12 0% 100%;
    --primary: 12 100% 64.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 12 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -26 10% 25%;
    --muted-foreground: 12 0% 65%;
    --accent: -26 10% 25%;
    --accent-foreground: 12 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 12 0% 100%;
    --border: 12 20% 50%;
    --input: 12 20% 50%;
    --ring: 12 100% 64.5%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
